<!DOCTYPE html>
<html lang="en" ng-app='gallery'>
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js'></script>
	<script src='app.js'></script>
	<link rel="stylesheet" href="style.css">
</head>
<body ng-controller='firstCtrl'>
<!-- Menu -->
	<div id="menu">
		<div><a href="#"><button ng-click='openGallery()'>Галерея</button></a></div>
		<div><a href="#"><button ng-click='openFavorites()'>Избранное</button></a></div>
	</div>
<!-- Gallery -->
	<div ng-show='gallery' id="gallery">
		<div id="overlay" ng-if="imageIndex != -1"></div>
		<div class='container' ng-repeat='Img in arrImg'>
			<img ng-click='openItem($index)' id="img" ng-src="{{Img.url}}" alt="{{Img.name}}">
			<div><input type="checkbox" ng-model="check" ng-change="change($index)"></div>
			<div>{{Img.name}}</div>
		</div>
		<img ng-click='closeItem()' id="imgZoom" ng-src="{{arrImg[imageIndex].url}}" alt="" ng-if="imageIndex != -1">
	</div>
<!-- Favorites -->
	<div ng-show='favorites' id="favorites">
		<div id="overlay" ng-if="imageIndex != -1"></div>
		<div class='container' ng-repeat='Img in arrImg | filter: arrImg.favorite = true'>
			<img ng-click='openItem($index)' id="img" ng-src="{{Img.url}}" alt="{{Img.name}}">
			<div>{{Img.name}}</div>
		</div>
		<img ng-click='closeItem()' id="imgZoom" ng-src="{{arrImg[imageIndex].url}}" alt="" ng-if="imageIndex != -1">
	</div>
<!-- Footer -->
	<div id="footer"></div>

</body>
</html>