<!DOCTYPE html>
<html lang="en" ng-app='gallery'>
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js'></script>
	<script src='app.js'></script>
	<link rel="stylesheet" href="style.css">
	<script src="https://use.fontawesome.com/6c41b0d16c.js"></script>
</head>
<body ng-controller='firstCtrl'>
<!-- Menu -->
	<div id="menu">
		<div><a href="#"><button ng-click='openGallery()'>Галерея</button></a></div>
		<div><a href="#"><button ng-click='openFavorites()'>Избранное</button></a></div>
	</div>
<!-- Gallery -->
	<div ng-if='!favorites' id="gallery">
		<div id="overlay" ng-show='overlay'></div>
		<div class='container' ng-repeat='Img in arrImg'>
			<img ng-click='openItem(Img.url, $index)' class="img" ng-src="{{Img.url}}" alt="{{Img.name}}">
			<div><input type="checkbox" ng-model="Img.favorite"></div>
			<div>{{Img.name}}</div>
		</div>
		<div ng-show='overlay' id="imgZoom">
			<img ng-src="{{item}}" ng-click='closeItem()' alt="">
				<i  ng-click='prew()' class="fa fa-chevron-circle-left fa-2x" aria-hidden="true"></i>
				<i ng-click='next()' class="fa fa-chevron-circle-right fa-2x" aria-hidden="true"></i>
			</img>
		</div>
	</div>
<!-- Favorites -->
	<div ng-if='favorites' id="favorites">
		<div id="overlay" ng-show='overlay'></div>
		<div class='container' ng-repeat='Img in arrImg' ng-if="Img.favorite">
			<img ng-click='openItem(Img.url)' class="img" ng-src="{{Img.url}}" alt="{{Img.name}}">
			<div>{{Img.name}}</div>
		</div>
		<div ng-show='overlay' id="imgZoom">
			<img ng-src="{{item}}" ng-click='closeItem()' alt="">
				<i ng-click='next()' class="fa fa-chevron-circle-left fa-2x" aria-hidden="true"></i>
				<i ng-click='prew()' class="fa fa-chevron-circle-right fa-2x" aria-hidden="true"></i>
			</img>
		</div>
	</div>
<!-- Footer -->
	<div id="footer"></div>
</body>
</html>