<!DOCTYPE html>
<html lang="en" ng-app='gallery'>
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js'></script>
	<script src='app.js'></script>
	<link rel="stylesheet" href="style.css">
</head>
<body ng-controller='firstCtrl'>

	<div id="overlay"></div>
	<div class='container' ng-repeat='Img in arrImg'><img ng-click='openItem(Img.url)' id="img" ng-src="{{Img.url}}" alt="{{Img.name}}"></div>
	<img ng-click='closeItem()' id="imgZoom" src="" alt="">

</body>
</html>